name: Autoreconf Mirror Branch

on:
  push:
    branches: [ main ]

jobs:
  autoreconf:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Dev Branch
      uses: actions/checkout@v2
      with:
        ref: 'dev'

    - name: Set up Autotools
      run: sudo apt-get update && sudo apt-get install -y autoconf automake libtool

    - name: Run autoreconf
      run: autoreconf -i

    - name: Push to Mirror Branch
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add -A
        git commit -m "Auto-update Autotools files" || echo "No changes to commit"
        git push origin HEAD:main -f